@import "top-nav.css";
@import "slider.css";
@import "shipping.css";
@import "ads.css";
@import "categories.css";
@import "special-offers.css";
@import "popular-products.css";
@import "banner-section-1.css";
@import "footer.css";
@import "login-form.css";
@import "pruduct-breadcrumb.css";
@import "product-desc.css";

@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("../fonts/Vazirmatn-Medium.woff2") format("woff2"),
    url("../fonts/Vazirmatn-Medium.woff") format("woff"),
    url("../fonts/Vazirmatn-Medium.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2"),
    url("../fonts/Vazirmatn-Bold.woff") format("woff"),
    url("../fonts/Vazirmatn-Bold.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazirmatn-Medium;
}
body {
  direction: rtl;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .mt-csm-3 {
    margin-top: 1rem !important;
  }
}
@media screen and (max-width: 991px) {
  .mt-clg-3 {
    margin-top: 1rem !important;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1340px;
  }
}
.owl-carousel .owl-nav.disabled {
  display: block;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 118px;
  width: 100%;
  display: flex !important;
}
.owl-carousel-brand .owl-nav {
  top: 75px !important;
}
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  left: -5px;
}
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  right: -5px;
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  width: 46px;
}

.owl-carousel .owl-nav .owl-next span,
.owl-carousel .owl-nav .owl-prev span {
  display: block;
  font-size: 66px;
  background-color: #fff;
  box-shadow: 0 0 12px 0px #c7c7c7;
}
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:focus span,
.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-prev:focus span {
  outline: none !important;
}
.owl-theme .owl-nav [class*="owl-"] :hover {
  color: #000;
}
/* zoomy slider customize */
.zoom-mousemove{
  border: none!important;
}